{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block body %}

<body class="bg-white">

    <!-- loader -->
    <div id="loader">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            {# <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a> #}
            {# <a href="{{path('login')}}" class="headerButton">
                Connexion
            </a> #}
        </div>
        <div class="pageTitle"></div>
        <div class="right">

        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="error-page">
            <img src="{{ asset('app/assets/img/validation.gif')}}" alt="image" class="w-100">
            {# <img src="app/assets/img/sample/photo/vector6.png" alt="alt" class="imaged square w200"> #}
            <h1 class="title">Tu as envoyé une demande de modification de mot de passe</h1>
            <div class="text mb-5">
                Tu recevra prochainement un mail qui te permettra de le reintialiser.
            </div>

            <div class="fixed-footer">
                <div class="row">
                    <div class="col-12">
                        <a href="{{path('login')}}" class="btn btn-primary btn-lg btn-block">Accueil</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- * App Capsule -->

{% endblock %}
