{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block content %}
    <!-- App Capsule -->
    <div id="appCapsule">

        <!-- <div class="header-large-title text-center">
            <h1 class="title">Folklore Is Not Dead</h1> -->
            <!-- <h4 class="subtitle">Welcome to Mobilekit</h4> -->
        <!-- </div> -->

        <div class="section full mt-3">

            <!-- cards location -->
                <div class="text-center">
                    <h2 class="m-0">Trouve un ami</h2>
                </div>
            <!-- * cards location -->


            <div class="section full">
                <div class="pt-2 pb-2 px-4">
                    <form class="search-form">
                        <div class="form-group searchbox">
                            <input type="text" class="form-control" value="" placeholder="FIND">
                            <i class="input-icon">
                                <ion-icon name="search-outline"></ion-icon>
                            </i>
                        </div>
                        <button type="button" class="rounded btn btn-primary btn-sm  mt-1" data-bs-toggle="offcanvas" data-bs-target="#actionSheetContent">Faluche</button>
                        <button type="button" class="rounded btn btn-outline-primary btn-sm  mt-1" data-bs-toggle="offcanvas" data-bs-target="#actionSheetContent">Calotte</button>
                        <button type="button" class="rounded btn btn-primary btn-sm  mt-1" data-bs-toggle="offcanvas" data-bs-target="#actionSheetContent">Penne</button>
                    </form>
                </div>
            </div>




        </div>

        <!-- <div class="p-4 text-center">
            <img src="assets/img/logo.png" alt="logo" class="logo w-50">
        </div> -->


        <div class="listview-title">
            <div>
                Profils trouvés pour <strong class="text-primary">"Chic"</strong>
            </div>
        </div>
        <ul class="listview image-listview media search-result mb-2">
            <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="{{ asset("assets/img/sample/photo/4.jpg") }}" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">ChickenWings</h4>
                            <div class="text-muted">
                                Faluchard IF Paris, Calottin RTM Namur
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="{{ asset("assets/img/sample/photo/6.jpg") }}" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">Chicky</h4>
                            <div class="text-muted">
                                Impétrant IF Paris
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="{{ asset("assets/img/sample/photo/5.jpg") }}" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            <h4 class="mb-05">Chickito</h4>
                            <div class="text-muted">
                                Sympathisant
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>


    </div>
    <!-- * App Capsule -->
{% endblock %}