{% extends "layout.html.twig" %}

{# {% block title %}Accueil{% endblock %} #}

{% block content %}
<div id="appCapsule">

        <div class="error-page">
            <img src="{{ asset("app/assets/img/sample/photo/vector6.png") }}" alt="alt" class="imaged square w200">
            <h1 class="title">Nous travaillons là dessus!</h1>
            <div class="text mb-5">
                La partie {{page}} est en construction.
            </div>

        </div>

    </div>
{% endblock %}